body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color: #fff;

}


header {
    background-color: #cccccc;
    width: 100%;
    /* margin: 0 auto; */
}

nav {
    display: block;
    /* float: none; */
}

ul {
    /* text-decoration: none; */
    list-style-type: none;
    /* display: block; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #292929;
    position: sticky;
}

li {
    float: left;
    padding: 14px 20px;
}




.header-con {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    padding: 10px;
    color: #fff;
}

input[type="text"] {
    width: 60%;
    margin-top: 5px;
    height: 20px;
    background-color: #0e0e0e;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 15px;
    outline: none;
}
.search-container {
    text-align: center;
}

button {
    height: 50;
}

.left-li {
    justify-self: left;
}

.right-li {
    justify-self: right;
}

div.search-container button  {
    width: 80px;
    height: 38px;
    background-color: #484848;
    border: none;
    margin-left: -5px;
    padding-top: 5px;
    outline: none;
}

.fa, .fas {
    font-weight: 900;
    color: #fff;
}

/* Wrapper */

.wrapper {
    max-width: 1100px;
    background-color: #000;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
    padding: 20px;
}


/* Video Content */

.video-descri {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgba(255,255,255,.25);
    padding-bottom: 5px;
}

.video-content {
    margin: 2px;
    color: #fff;
    
}

.video {
    position: cover;
}

div.video-descri h1 {
    font-size: 16px;
    margin-bottom: -8px;
    font-weight: 300;
}



p.views {
    font-size: 11px;
}

.react {
    font-size: 11px;
    display: block;
    overflow: hidden;
    justify-self: right;
}

.video-title {
    float: left;
}

div.react p {
    font-size: 11px;
    padding-top: 35px;
    overflow: hidden;
    float: left;
    padding-left: 20px;
}


/* Video */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }


/* user Section beginns here */

.user-descri {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    border-bottom: 1px solid rgba(255,255,255,.25);
}



.u-logo {
    width: 50px;
    padding-top: 20px;
}

p.user-name {
    font-weight: 500;
    margin-bottom: -5px;
}

p.upload-date {
    font-size: 0.7em;
    color: #c1c1c1;
}

p.description {
    padding-right: 10%;
    font-size: 0.8em;
}

p.categorie {
    font-size: 0.8em;
    font-weight: 500;
}


p.comment {
    float: left;
    padding-right: 40px;
}

div.comment-section p {
    float: left;
    font-size: 0.8em;
}


button#b-abo {
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 0.8em;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
    margin-left: 55px;
    margin-top: 13px;
}

.abo {text-align: right;}

p.bell {
    margin-top: 20px;
}